extends _include/layout

block title
  if is_tag()
    title= page.tag + " | " + config.title
  else if is_archive()
    title= __('archive') + " | " + config.title

block style
  link(rel="stylesheet", href=url_for("/css/archive.css"))

block content
  main
    .post__achive
      each posts, year in _.groupBy(page.posts.toArray(), p => - p.date.format('YYYY'))
        h2= -year
        ul.achive__list
          for post in posts
            li
              span.achive__item__date= post.date.format('YYYY/MM/DD')
              a(href=url_for(post.path), title=post.title)= post.title
  include _include/paginator