extends _include/layout

block title
  title= config.title

block style
  link(rel="stylesheet", href=url_for("/css/index.css"))
  link(rel="stylesheet", href=url_for("/css/component/tag.css"))

block content
  div.content__index
    .posts
      for post in page.posts.toArray()
          section.post
            a.post--link-wrapper(href=url_for(post.path)): .post--eye-catch
              .eye-catch--year= post.date.format("YYYY")
              .eye-catch--month.eyecatch--text= post.date.format("MM")
              .eye-catch--day.eyecatch--text= post.date.format("DD")
            a.post--link-wrapper(href=url_for(post.path)): .post--content
              .content--title= post.title
            if post.tags
              ul.post--tags
                for tag in post.tags.toArray()
                  li.tags--tag: a.tag--link(href=url_for(tag.path))= tag.name
  hr#index--hr

block pagination
  #index--pagination
    include _include/paginator
