extends _include/layout

block title
  title= config.title

block style
  link(rel="stylesheet", href=url_for("/css/index.css"))
  link(rel="stylesheet", href=url_for("/css/component/tag.css"))

block content
  div.content__index
    .posts
      for post in page.posts.toArray()
        a.posts--post-wrapper(href=url_for(post.path))
          section.post
            .post--eye-catch
              .eye-catch--year= post.date.format("YYYY")
              .eye-catch--month.eyecatch--text= post.date.format("MM")
              .eye-catch--day.eyecatch--text= post.date.format("DD")
            .post--content
              .content--title= post.title
            //- if post.tags
            //-   .post__tags
            //-     ul
            //-       for tag in post.tags.toArray()
            //-         li: a(href=url_for(tag.path))= tag.name
  hr#index--hr

block pagination
  #index--pagination
    include _include/paginator
