extends _include/layout

block title
  title= `${page.title} | ${config.title}`

block style
  link(rel="stylesheet", href=url_for("/css/post/post.css"))
  link(rel="stylesheet", href=url_for("/css/post/share.css"))
  link(rel="stylesheet", href=url_for("/css/post/tag.css"))
  link(rel="stylesheet", href=url_for("/css/post/syntax_highlight.css"))


block content
  article.content__post
    h1.post__title= page.title
    .post__date= page.date.format(config.date_format)

    //- 【Simple is Best】上部 - タイトル下
    script(src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", async)
    ins.adsbygoogle(
      style="display:inline-block;width:728px;height:90px",
      data-ad-client="ca-pub-2427798032219417",
      data-ad-slot="1019140575")
    script.
      (adsbygoogle = window.adsbygoogle || []).push({})

    hr

    section!= page.content

    hr

    if page.tags
      .post__tags
        p Tags
        ul
          for tag in page.tags.toArray()
            li: a(href=url_for(tag.path))= tag.name

    // Share ボタン
    #share
      .button#twitter
        i.fab.fa-twitter
      .button#facebook
        i.fab.fa-facebook
      .button#hatebu
        img(src=url_for("/images/hatenabookmark.svg"))
      .button#link
        i.fas.fa-link

    #notification
      p URLをクリップボードにコピーしました。

  include _include/paginator_post

  //- 【Simple is Best】下部 - ページネーション下
  script(src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js", async)
  ins.adsbygoogle(
    style="display:block",
    data-ad-client="ca-pub-2427798032219417",
    data-ad-slot="6159786614",
    data-ad-format="auto",
    data-full-width-responsive="true")
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});

  script(src=url_for("/js/share.js"))