extends _include/layout

block title
  title= `${page.title} | ${config.title}`

block style
  link(rel="stylesheet", href=url_for("/css/post/post.css"))
  script(src='https://kit.fontawesome.com/da314288dc.js', crossorigin='anonymous')

  if page.code === true
    link(rel="stylesheet", href=url_for("/css/font.css"))
    link(rel="stylesheet", href=url_for("/css/post/syntax_highlight.css"))

block content
  main
    article.content__post
      h1.post__title= page.title
      .post__date= page.date.format(config.date_format)

      //- 【Simple is Best】上部 - タイトル下
      ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-2427798032219417', data-ad-slot='1019140575')
      script.
        (adsbygoogle = window.adsbygoogle || []).push({});


      hr#top

      section!= page.content

      hr

    link(rel="stylesheet", href=url_for("/css/component/tag.css"))
    if page.tags
      .post__tags
        p#tags__title Tags
        ul
          for tag in page.tags.toArray()
            li: a(href=url_for(tag.path))= tag.name

    //- Share ボタン
    link(rel="stylesheet", href=url_for("/css/post/share.css"))
    #share
      .button#twitter
        i.fab.fa-twitter
      .button#facebook
        i.fab.fa-facebook
      .button#hatebu
        img(src=url_for("/images/hatenabookmark.svg"))
      .button#link
        i.fas.fa-link

    #notification
      p URLをクリップボードにコピーしました。

  include _include/paginator

  //- 【Simple is Best】下部 - ページネーション下
  ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-2427798032219417', data-ad-slot='6159786614', data-ad-format='auto', data-full-width-responsive='true')
  script.
    (adsbygoogle = window.adsbygoogle || []).push({});

  script(src=url_for("/js/share.js"))
  script.
    !function(e,t){var n=!1;function o(){!1===n&&(n=!0,e.removeEventListener("scroll",o),e.removeEventListener("mousemove",o),e.removeEventListener("mousedown",o),e.removeEventListener("touchstart",o),e.removeEventListener("keydown",o),function(){var e=t.createElement("script");e.type="text/javascript",e.async=!0,e.dataset.adClient="ca-pub-2427798032219417",e.src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js";var n=t.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)}())}e.addEventListener("scroll",o),e.addEventListener("mousemove",o),e.addEventListener("mousedown",o),e.addEventListener("touchstart",o),e.addEventListener("keydown",o),e.addEventListener("load",function(){e.pageYOffset&&o()})}(window,document);