extends _include/layout

block title
  title= `${page.title} | ${config.title}`

block content
  article.content__post
    h1.post__title= page.title
    .post__date= page.date.format(config.date_format)

    hr

    section!= page.content

    hr

    if page.tags
      .post__tags
        p Tags
        ul
          for tag in page.tags.toArray()
            li: a(href=url_for(tag.path))= tag.name

    // Share ボタン
    .share
      .button
        i.fab.fa-twitter
      .button
        i.fab.fa-facebook
      .button
        img(src=url_for("/images/hatebu.png"))
      .button
        i.fas.fa-link

  include _include/paginator_post