extends _include/layout

block title
  title= `${page.title} | ${config.title}`

block style
  link(rel="stylesheet", href=url_for("/css/post/post.css"))
  script(src='https://kit.fontawesome.com/da314288dc.js', crossorigin='anonymous')

  if page.code === true
    link(rel="stylesheet", href=url_for("/css/font.css"))
    link(rel="stylesheet", href=url_for("/css/post/syntax_highlight.css"))

block content
  main
    article.content__post
      h1.post__title= page.title
      .post__date= page.date.format(config.date_format)

      script(data-ad-client='ca-pub-2427798032219417', async, src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

      hr#top

      section!= page.content

      hr

    link(rel="stylesheet", href=url_for("/css/component/tag.css"))
    if page.tags
      .post__tags
        p#tags__title Tags
        ul
          for tag in page.tags.toArray()
            li: a(href=url_for(tag.path))= tag.name

    // Share ボタン
    link(rel="stylesheet", href=url_for("/css/post/share.css"))
    #share
      .button#twitter
        i.fab.fa-twitter
      .button#facebook
        i.fab.fa-facebook
      .button#hatebu
        img(src=url_for("/images/hatenabookmark.svg"))
      .button#link
        i.fas.fa-link

    #notification
      p URLをクリップボードにコピーしました。

  include _include/paginator

  script(data-ad-client='ca-pub-2427798032219417', async , src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')

  script(src=url_for("/js/share.js"))