head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(name="format-detection", content="telephone=no")

  meta(name="description", content=config.description)
  meta(name="author", content=config.author)

  meta(property="og:site_name", content=config.title)
  if page.title
    meta(property="og:title", content=page.title)
  else
    meta(property="og:title", content="Simple is Best")

  meta(property="og:description", content=config.description)

  if page.layout === "post"
    meta(property="og:type", content="article")
  else
    meta(property="og:type", content="website")

  meta(property="og:url", content=page.title )
  meta(property="og:image", content="https://blog.oldbigbuddha.net/images/ogp/ogp.png")

  meta(property="fb:app_id", content="2154307747924530")

  meta(name="twitter:card", content="summary")
  meta(name="twitter:creator", content="@OJI_1941")
  meta(name="twitter:image", content="https://blog.oldbigbuddha.net/images/ogp/twitter.png")

  block title

  link(rel="stylesheet", href="https://unpkg.com/ress/dist/ress.min.css")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.5.0/css/all.css", integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU", crossorigin="anonymous")
  link(rel="stylesheet", href=url_for("/css/font.css"))
  link(rel="stylesheet", href=url_for("/css/base.css"))
  link(rel="stylesheet", href=url_for("/css/style.css"))
  link(rel="stylesheet", href=url_for("/css/component/header.css"))
  link(rel="stylesheet", href=url_for("/css/component/footer.css"))

  link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")

  script(src='https://www.googletagmanager.com/gtag/js?id=UA-128941201-1', async)
  script(src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', async)
  script.
    window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date),gtag('config','UA-128941201-1');
    (adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-2427798032219417",enable_page_level_ads:true});