head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#")
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(name="format-detection", content="telephone=no")

  meta(name="description", content=config.description)
  meta(name="author", content=config.author)

  meta(property="og:site_name", content=config.title)
  if page.title
    meta(property="og:title", content=page.title)
  else
    meta(property="og:title", content="Simple is Best")

  meta(property="og:description", content=config.description)

  if is_post()
    meta(property="og:type", content="article")
  else
    meta(property="og:type", content="website")

  meta(property="og:url", content=url_for(page.path))
  meta(property="og:image", content="https://oldbigbuddha.dev/images/ogp/ogp.png")

  meta(property="fb:app_id", content="2154307747924530")

  meta(name="twitter:card", content="summary")
  meta(name="twitter:creator", content="@OldBigBuddha")
  meta(name="twitter:image", content="https://oldbigbuddha.dev/images/ogp/twitter.png")

  block title

  link(rel="stylesheet", href=url_for("/css/lib/ress.min.css"), media="print", onload="this.media='all'")
  link(rel="stylesheet", href=url_for("/css/base.css"), media="print", onload="this.media='all'")

  block style

  link(rel="shortcut icon", type="image/x-icon", href="/favicon.ico")

  script(src='https://www.googletagmanager.com/gtag/js?id=UA-128941201-1', async)
  script.
    // Adobe Font
    !function(e){var t,a={kitId:"ury5ymp",scriptTimeout:3e3,async:!0},c=e.documentElement,i=setTimeout(function(){c.className=c.className.replace(/\bwf-loading\b/g,"")+" wf-inactive"},a.scriptTimeout),n=e.createElement("script"),s=!1,o=e.getElementsByTagName("script")[0];c.className+=" wf-loading",n.src="https://use.typekit.net/"+a.kitId+".js",n.async=!0,n.onload=n.onreadystatechange=function(){if(t=this.readyState,!(s||t&&"complete"!=t&&"loaded"!=t)){s=!0,clearTimeout(i);try{Typekit.load(a)}catch(e){}}},o.parentNode.insertBefore(n,o)}(document);
    // Google Analytics
    function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-128941201-1"),(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client:"ca-pub-2427798032219417",enable_page_level_ads:!0});